---
---
@import "{{ site.theme }}";
.downloads li {
  width: 100%;
}

.body {
  background: #3ab4a9;
  background: linear-gradient(67deg, #3ab4a9 0%, #54fd1d 50%, #fcec45 100%);
  background-color: #3ab4a9;
  background-color: linear-gradient(67deg, #3ab4a9 0%, #54fd1d 50%, #fcec45 100%);
}

a {
  background-color: #3ab4a9;
  background-image: linear-gradient(67deg, #3ab4a9 0%, #54fd1d 50%, #fcec45 100%);
  background-size: 100%;
  background-repeat: repeat;
}

a:hover, a:focus {
  color:#3ab4a9;
  font-weight: bold;
}

