---
---

@import "{{ site.theme }}";

.downloads li{
    width:100%;
  }

.body{
background: rgb(58,180,169);
background: linear-gradient(67deg, rgba(58,180,169,1) 0%, rgba(84,253,29,1) 50%, rgba(252,236,69,1) 100%);
}